form{
    margin: 2% 10% 2% 10%;

    .btn-success{
        background-color: #30AF91;
        margin-top: 3%;
    }

    img{
        width: 48px;
        height: 48px;
    }
}

.bg-danger{
    opacity: initial;
}

footer{
    position: fixed;
}