
.charts{
    margin: 10% 10% 10% 10%;    
}

.pizza{
    position: relative;
    float: right;
    width: 50%
}

.bar{
    position: relative;
    width: 50%
}

h5{
    margin-bottom: 4%;
    text-align: center
}