
.charts{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);  
}

.pizza{
    position: relative;
    float: right;
    width: 50%
}

.bar{
    position: relative;
    width: 50%
}

h5{
    margin-bottom: 4%;
    text-align: center
}