<!-- Navbar com as rotas disponibilizadas pela plataforma -->
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" routerLink="/">BANDA DE MÚSICA RITMO E LOUVOR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Início <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cadastrar">Cadastro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/listar">Listagem</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/info-graficos">Info gráficos</a>
        </li>
      </ul>
    </div>
  </nav>
</header>