form{
    margin: 2% 10% 2% 10%;

    .btn-primary{
        background-color:#267CB5;
        margin-right: 2%;
        margin-top: 3%;
    }
    .btn-danger{
        background-color: #CA3636;
        margin-top: 3%;
    }
}

img{
    width: 48px;
    height: 48px;
}

